<mat-nav-list>
    <a mat-list-item routerLink="/login">
        <mat-icon>login</mat-icon>
        <span>Login</span>
    </a>
    <a mat-list-item routerLink="/signup">
        <mat-icon>app_registration</mat-icon>
        <span>Register</span>
    </a>
    <a mat-list-item routerLink="/main">
        <mat-icon>grid_view</mat-icon>
        <span>Main</span>
    </a>
    <a mat-list-item routerLink="/site">
        <mat-icon>collections</mat-icon>
        <span>Site</span>
    </a>
    <a mat-list-item routerLink="/configurate">
        <mat-icon>info</mat-icon>
        <span>Configurate</span>
    </a>
</mat-nav-list>