:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    h1 {
      margin-bottom: 20px;
    }
  
    mat-slide-toggle,
    mat-form-field,
    mat-slider,
    input[type="number"],
    button {
      margin: 10px 0;
      width: 300px;
    }
  }
  